<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usipi</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="contai">
        <header id="header">
            <ul>
                <li><a href="/"><img src="static\img\usipi_logo.png" alt="USIPI" width="70"></a></li>
                <li><a href="/get">Get</a></li>
                <li><a href="/about">About Usipi</a></li>
            </ul>
        </header>
        <h1>a</h1>
    </div>
</body>
</html>