<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Usipi</title>
</head>
<body>
    <div class="con">
        <header id="header">
            <ul> 
                <li><a href="/" class="img"><img src="static\img\usipi_logo.png" alt="USIPI" width="70"></a></li>
                <li><a href="/get">Get</a></li>
                <li><a href="/about">About Usipi</a></li>
            </ul>
        </header>
        <div id="content">
            <h1 class="title">USIPI</h1>
            <h2>Hi! Wanna have some fun?</h2>
            <div class="buttons">
                <button><a href="https://discord.gg/Q3qsfpU5aK" class="a">Join the Server</a></button>
                <button><a href="https://discord.com/login" class="a">To Discord</a></button>
            </div>
        </div>
    </div>
    
</body>
</html>